In [1]:
import randDataSet
import pandas as pd

In [2]:
#randDataSet.random_data(100)

In [3]:
#pd.read_csv("datos_aleatorios.csv")

In [4]:
from transform import transformer
import randDataSet
import pandas as pd

In [6]:
randDataSet.random_data(50)
df = transformer().from_csv('datos_aleatorios.csv')

In [7]:
df_t_1, df_t_2 = transformer().fit_transform(df)

In [8]:
df_t_1.head()

     Id     POINT_X    POINT_Y
OID
0     0  -99.175982  19.403464
1     1  -99.175982  19.403464
2     2  -99.175982  19.403464
3     3  -99.175982  19.403464
4     4  -99.175982  19.403464

In [ ]:
#df_t_2

In [ ]:
# Probando salida como dbf
transformer().to_dbf(df_t_1, df_t_2)